!.gitignore

zuckless/dwm/drw.o
zuckless/dwm/dwm.o
zuckless/dwm/util.o
zuckless/dwm/dwm
zuckless/dmenu/dmenu.o
zuckless/dmenu/drw.o
zuckless/dmenu/util.o
zuckless/dmenu/dmenu
zuckless/dmenu/stest.o
zuckless/dmenu/stest
zuckless/st/st.o
zuckless/st/x.o
zuckless/st/st
zuckless/slstatus/slstatus.o
zuckless/slstatus/util.o
zuckless/slstatus/slstatus
zuckless/slstatus/components/battery.o
zuckless/slstatus/components/cat.o
zuckless/slstatus/components/cpu.o
zuckless/slstatus/components/datetime.o
zuckless/slstatus/components/disk.o
zuckless/slstatus/components/entropy.o
zuckless/slstatus/components/hostname.o
zuckless/slstatus/components/ip.o
zuckless/slstatus/components/kernel_release.o
zuckless/slstatus/components/keyboard_indicators.o
zuckless/slstatus/components/keymap.o
zuckless/slstatus/components/load_avg.o
zuckless/slstatus/components/netspeeds.o
zuckless/slstatus/components/num_files.o
zuckless/slstatus/components/ram.o
zuckless/slstatus/components/run_command.o
zuckless/slstatus/components/swap.o
zuckless/slstatus/components/temperature.o
zuckless/slstatus/components/uptime.o
zuckless/slstatus/components/user.o
zuckless/slstatus/components/volume.o
zuckless/slstatus/components/wifi.o
